@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rainbowkit-accent-color: #7c3aed;
  --rainbowkit-accent-color-foreground: white;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

/* RainbowKit specific styles */
[data-rk] {
  --rk-radii-modal: 12px;
  --rk-radii-actionButton: 12px;
  --rk-radii-connectButton: 12px;
  --rk-radii-address: 12px;
  --rk-radii-scrollButton: 12px;
  --rk-radii-avatar: 12px;
  --rk-radii-mobileInput: 12px;
}
